@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Style+Script&display=swap");

.container-main {
  height: 100vh;
  background-color: rgba(231, 245, 245, 0.836);
  position: relative;
}

.cloud-img {
  width: 100px;
}

.head-img__main {
  width: 300px;
}

.cloud-one {
  position: relative;
  transform: translate(-300%, 20%);
}
.cloud-two {
  position: relative;
  transform: translate(300%, 20%);
}

.heading-img {
  position: relative;
  transform: translate(0%, 10%);
}

.pro {
  text-decoration: underline;
}

.title-text {
  font-family: "Style Script", cursive;
  font-weight: 700;
  font-size: 4.5rem;
  color: rgb(108, 99, 255);
  letter-spacing: 0.3rem;
  padding-top: 20px;
}

.description {
  color: rgba(107, 99, 255, 0.671);
  margin-top: -10px;
}

.container-body {
  margin: 0 auto;
}

.profile-img {
  width: 100px;
}

.body-text__topic {
  color: rgba(107, 99, 255, 0.836);
  margin-top: 10px;
}

.intro {
  padding-bottom: 50px;
  width: 300px;
  margin: 0 auto;
}

hr {
  border: 10px dotted rgba(107, 99, 255, 0.836);
  border-bottom: none;
  width: 6%;
  margin: 0 auto;
}

.skill-topic {
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.skill-img {
  width: 300px;
}

.skill-description {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.skill-text {
  margin-left: 5px;
}

.skill-img__two {
  padding-right: 180px;
}

.contact-btn {
  font-size: 1.4rem;
  color: #fff;
  background-color: rgba(107, 99, 255, 0.836);
  border: none;
  text-transform: uppercase;
}

.footer {
  background-color: rgba(107, 99, 255, 0.836);
}

@media (max-width: 900px) {
  #head {
    width: 100%;
  }
  .title-text {
    font-family: "Style Script", cursive;
    font-weight: 700;
    font-size: 2.5rem;
    color: rgb(108, 99, 255);
    letter-spacing: 0.2rem;
    padding-top: 10px;
  }

  .cloud-img {
    width: 100px;
  }

  .cloud-one {
    margin: 0;
    position: relative;
    transform: translate(-100%, 20%);
  }
  .cloud-two {
    margin: 0;
    position: relative;
    transform: translate(100%, 20%);
  }

  .head-img__main {
    width: 300px;
  }
  .heading-img {
    position: relative;
    transform: translate(0%, 40%);
  }
  hr {
    width: 10%;
  }
}

@media (max-width: 700px) {
  .skill-description {
    flex-direction: column;
  }

  .skill-img__two {
    padding-right: 0;
    border-bottom: 2px solid red;
  }

  .skill-img {
    width: 200px;
  }
}
